<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noCAP</title>
    <link rel="stylesheet" href="{{url_for('static',filename = "/styles/approvedstyle.css")}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<style>
    .circle.per{
    background-image: conic-gradient(#235a21 {{score}}%, #bdbdbd 0);
</style>
<body>
    <header>
         <nav>
             <ul>
                 <li><a href="{{url_for('home')}}">Home</a></li>
                 <li><a href="{{url_for('hello')}}">About</a></li>
             </ul>
         </nav>
    </header>
    <div class="wrap-circles">
        <div class="circle per">
            <div class="inner">{{score}}%</div>
        </div> 
    </div>  
    <div class="para">
        <p>Title: {{title_html}}
         <br>Source: {{source_html}}<br> 
            Verdict: {{prediction}}<br><br>
            The given news title has been deemed to be {{prediction}} according to our in-house ML model with a probability-of-truth score
            of {{score}}%. We offer no claims of 100% accuracy of the given verdict as is the nature of ML models, yet place high confidence
            it's given result.
        </p>  
    </div>         
</body>
</html>